<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
</head>
<body class="d-flex align-items-center flex-column">
    <h1>Product</h1>
     <form action="/doSearch" method="post">
        Name <input type="text" name="txtName" id="">
        <input type="submit" value="Search">
    </form>
    <br>
    <a href="insert">New Product</a>
    <hr>
     <table width="50%" border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Number</td>
            <td>Price</td>
            <td>Option</td>
        </tr>
        {{# each model}}
        <tr>
            <td>{{ID}}</td>
            <td>{{Name}}</td>
            <td>{{Number}}</td>
            <td>{{Price}}</td>
            <td><a href="/delete?id={{_id}}">delete</a><br>            
            <a href="/update?id={{_id}}">Update</a></td>
        </tr>  
        {{/each}}
    </table>
</body>
</html>